.navbar {
    position: sticky;
    top: 0;
    background-color: white;
    width: 100%;
    padding: 15px 0;
  }
  
  .container {
    max-width: 1180px;
    width: 80%;
    margin:auto;
    position: relative;
    overflow: hidden;
  }

  .homeBut {
    transition: all .5s ease;
    border-radius: 12px;
    padding: 15px 0 15px 0;
    border: none;
  }

  .homeBut:hover {
    cursor: pointer;
  }

  .mal {
    font-size: large;
    padding: 15px 0 15px 15px;
    border: 2px solid transparent;
    border-radius: 10px 0 0 10px;
  }

  .dev {
    font-size: large;
    background-image: linear-gradient(to right, #4CB8C4 0%, #3CD3AD  51%, #4CB8C4  100%);
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 0 10px 10px 0;
    transition: all 0.5s;
  }

  .dev:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }

  .navOptions {
    height: 100%;
    position: absolute;
    overflow: hidden;
    right: 0;
    top: 0;
  }
  
  .navBut {
    transition: all .5s ease;
    font-family: 'Courier New', monospace;
    font-size: large;
    border: none;
    height: 100%;
    padding: 0 10px;
    border-radius: 10px;
    background-color: #fff;
    margin: 0 10px;
  }

  .navBut:hover {
    text-decoration: underline;
    cursor: pointer;
  }
           
  .btn-grad {
    margin-left: 10px;
    font-size: large;
    height: 100%;
    border: none;
    float: right;
    background-image: linear-gradient(to right, purple, darkblue, purple);
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }
  
  .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }

  
  
  
  .name {
    float: left;
  }
  
  .navOptions {
    float: right;
  }